<b>[memwatcher] Pre-OOM dump triggered</b>
• Service: <code>{{.Service}}</code>
• Reason: <code>{{.TriggerReason}}</code>
• HeapInuse: {{.HeapInuseMB}} MB ({{printf "%.1f" .PctOfGoMemLimit}}% of GOMEMLIMIT)
• Dump dir: <code>{{.DumpDirName}}</code>{{if .DumpCardURL}}
• <a href="{{.DumpCardURL}}">📊 Открыть карточку дампа</a>{{end}}{{if .DumpURL}}
• <a href="{{.DumpURL}}">⬇️ Скачать heap.pprof</a>{{end}}{{if .PyroscopeURL}}
• <a href="{{.PyroscopeURL}}">Pyroscope profiles</a>{{end}}